apiVersion: apps/v1
kind: Deployment
metadata:
  name: emailservice
  namespace: {{ .Values.namespace }}
  labels:
    app: emailservice
    {{- include "app.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: emailservice
  template:
    metadata:
      labels:
        app: emailservice
    spec:
      containers:
        - name: server
          image: "{{ .Values.emailservice.image }}:{{ .Values.emailservice.tag }}"
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: emailservice
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: emailservice
  ports:
    - port: 5000
      targetPort: 8080