apiVersion: apps/v1
kind: Deployment
metadata:
  name: paymentservice
  labels:
    app: paymentservice
    app.kubernetes.io/name: online-boutique
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: paymentservice
  template:
    metadata:
      labels:
        app: paymentservice
    spec:
      containers:
        - name: server
          image: "{{ .Values.paymentservice.image }}:{{ .Values.paymentservice.tag }}"
          imagePullPolicy: {{ .Values.imagePullPolicy | default "IfNotPresent" }}
          ports:
            - containerPort: {{ .Values.paymentservice.port }}
          env:
            - name: PORT
              value: "{{ .Values.paymentservice.port }}"
            - name: DISABLE_PROFILER
              value: "1"
          readinessProbe:
            tcpSocket:
              port: {{ .Values.paymentservice.port }}
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: {{ .Values.paymentservice.port }}
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: paymentservice
spec:
  type: ClusterIP
  selector:
    app: paymentservice
  ports:
    - name: grpc
      port: {{ .Values.paymentservice.port }}
      targetPort: {{ .Values.paymentservice.port }}
