apiVersion: apps/v1
kind: Deployment
metadata:
  name: paymentservice
  namespace: {{ .Values.namespace }}
  labels:
    app: paymentservice
    {{- include "app.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: paymentservice
  template:
    metadata:
      labels:
        app: paymentservice
    spec:
      containers:
        - name: server
          image: "{{ .Values.paymentservice.image }}:{{ .Values.paymentservice.tag }}"
          ports:
            - containerPort: 50051
---
apiVersion: v1
kind: Service
metadata:
  name: paymentservice
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: paymentservice
  ports:
    - port: 50051
      targetPort: 50051