apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-cart
  namespace: {{ .Values.namespace }}
  labels:
    app: redis-cart
    {{- include "app.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: redis-cart
  template:
    metadata:
      labels:
        app: redis-cart
    spec:
      containers:
        - name: redis
          image: "{{ .Values.redis.image }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ .Values.redis.port }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.redis.port }}
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: {{ .Values.redis.port }}
            periodSeconds: 5
          resources:
            {{- toYaml .Values.redis.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /data
              name: redis-data
      volumes:
        - name: redis-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: redis-cart
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: redis-cart
  ports:
    - name: tcp-redis
      port: {{ .Values.redis.port }}
      targetPort: {{ .Values.redis.port }}
