apiVersion: apps/v1
kind: Deployment
metadata:
  name: shippingservice
  namespace: {{ .Values.namespace }}
  labels:
    app: shippingservice
    {{- include "app.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: shippingservice
  template:
    metadata:
      labels:
        app: shippingservice
    spec:
      containers:
        - name: server
          image: "{{ .Values.shippingservice.image }}:{{ .Values.shippingservice.tag }}"
          ports:
            - containerPort: 50051
---
apiVersion: v1
kind: Service
metadata:
  name: shippingservice
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: shippingservice
  ports:
    - port: 50051
      targetPort: 50051